@model IEnumerable<ISO815_Inventario.Models.articulo>

@{
    ViewBag.Title = "Articulo";
}

<h2>Articulo</h2>

<p>
    @(Html.ActionLink("Agregar", "Create", new { id = 1 }, new { @class = "btn btn-primary btn-lg" }))
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.existencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_inventario_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.almacen_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @String.Format("{0:RD$#,##0.##}", item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.existencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_inventario.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.almacen.nombre)
            </td>
            <td>
                @if (item.estado == 1)
                {
                    @("Activo");
                }
                else
                {
                    @("Inactivo");
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) /
                @Html.ActionLink("Detalle", "Details", new { id = item.id }) /
                @if (item.estado == 1)
                {
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                }
                else
                {
                    <text>Eliminar</text>
                }
            </td>
        </tr>
    }

</table>
