@model ISO815_Inventario.Models.tipo_inventario

@{
    ViewBag.Title = "Tipo Inventario/Eliminar";
}

<h2>Tipo Inventario</h2>

<h3>¿Esta seguro que quiere inactivar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuenta_contable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuenta_contable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @if (Model.estado == 1)
            {
                @("Activo");
            }
            else
            {
                @("Inactivo");
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-offset-2 col-md-1">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
            <div class="col-md-offset-2 col-md-1">
                <p>
                    @(Html.ActionLink("Cancelar", "Index", new { id = 1 }, new { @class = "btn btn-outline-dark" }))
                </p>
            </div>
        </div>
    }
</div>
