@model IEnumerable<ISO815_Inventario.Models.asiento_contable>

@{
    ViewBag.Title = "Asiento Contable";
}

<h2>Asiento Contable</h2>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_inventario_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cuenta_contable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_movimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
                @Html.HiddenFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_inventario.nombre)
            </td>
            <td>
                @if (item.cuenta_contable == 6)
                {
                    @("Inventario");
                }
                else if (item.cuenta_contable == 82)
                {
                    @("Cuenta X Cobrar Proveedor");
                }
                else
                {
                    @("N/A (Cuenta No Registrada)");
                }
            </td>
            <td>
                @if (item.tipo_movimiento == "DB")
                {
                    @("Debito");
                }
                else
                {
                    @("Credito");
                }
            </td>
            <td>
                @String.Format("{0:RD$#,##0.##}", item.monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @if (item.estado == 1)
                {
                    @("Activo");
                }
                else
                {
                    @("Inactivo");
                }
            </td>
            <td>
                @(Html.ActionLink("Sincronizar", "Details", new { id = item.id }, new { @class = "btn btn-warning btn-sm" }))
            </td>
        </tr>
    }

</table>


